<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
      #toName {
        margin-top: -21px;
        margin-bottom: 0;
      }
      #usersList {
        margin-bottom: 10px;
      }
      #message {
        width: 600px;
        min-height: 400px;
        padding: 15px;
        border: 1px solid #ccc;    
      }
      #message .a {
        text-align: right;
      }
      #message li {
        line-height: 30px;
        list-style: none;
      }
  </style>
</head>

<body>
  <div id="login">
    <input type="text" id="login-input">
    <button id="btn-login">登录</button>
  </div>
  <h4 id="name">当前用户：</h4>
  <h4 id="toName">发送给用户：</h4>
  <div id="usersList"></div>
  <div id="wrap">
    <input type="text" id="msg-input">
    <button id="btn-msg">发送</button>
  </div>
  <ul id="message"></ul>

  <script>
    window.onload = () => {
      let msgData = {
        fromUserId: '',
        toUserId: '',
        type: '',
        content: '',
      };

      let msgInput = document.getElementById('msg-input');
      let userInput = document.getElementById('login-input');
      let msgBtn = document.getElementById('btn-msg');
      let loginBtn = document.getElementById('btn-login');
      let elUser = document.getElementById('name');
      let elUl = document.getElementById('message');
      let usersList = document.getElementById('usersList');
      let ws = null;

      function connectWebsocket() {
        ws = new WebSocket('ws://120.79.6.209:8080/chat/'+msgData.fromUserId);

        // 连接成功
        ws.onopen = () => {
          console.log('连接服务端WebSocket成功');
          msgData.type='open';
          ws.send(JSON.stringify(msgData));
        };

        // 监听服务端消息
        ws.onmessage = (msg) => {
          let message = JSON.parse(msg.data);
          if (message.type === 'open') {
            console.log('用户 ' + message.fromUserId + ' 加入监控系统');
            getList(JSON.parse(message.content));
          } else if (message.type === 'close') {
            console.log('用户 ' + message.fromUserId + ' 退出监控系统');
            getList(JSON.parse(message.content));
          } else {
            console.log('收到的消息：', message)
            elUl.innerHTML += `<li class="b">${message.fromUserId}：${message.content}</li>`;
          }
        };

        // 连接失败
        ws.onerror = () => {
          console.log('连接失败，正在重连...');
          connectWebsocket();
        };

        // 连接关闭
        ws.onclose = () => {
          console.log('连接关闭');
        };
      }

      function getList( list ){
        usersList.innerHTML = '<div class="usersList"></div>'
        if(list.length===1){
          usersList.innerHTML += '<a> 聊天室当前没有用户在线 </a>'
        }else{
          for (i=0;i < list.length; i++) {
            if(list[i]!==msgData.fromUserId){
              usersList.innerHTML += `<input type="radio" value="${list[i]}" name="user">${list[i]}</input>`
            }
          }
        }
      }

      function sendMessage() {
        let obj = document.getElementsByName("user")
        for (let i = 0; i < obj.length; i++) { //遍历Radio
          if (obj[i].checked) {
            msgData.toUserId = obj[i].value;
          }
        }
        let msg = { ...msgData, content: msgInput.value, type: 'text' };
        ws.send(JSON.stringify(msg));
        elUl.innerHTML += `<li class="a">${msgInput.value}：${msgData.fromUserId}`;
        msgInput.value = '';
      }

      msgBtn.onclick = sendMessage;
      msgInput.onkeypress = (event) => {
        if(event.code === 'Enter'){
          sendMessage();
        }
      }
      loginBtn.onclick = () => {
        msgData.fromUserId = userInput.value
        connectWebsocket();
        elUser.innerHTML = `<h4 class="name">当前用户：${userInput.value}</h4>`;
      }

    }

  </script>
</body>

</html>
